body{
	background: #fff;
	
}

.checkOut {
	background: linear-gradient(to right, #d3cce3, #e9e4f0);
}
.checkOutPage {
	display: none;
	padding: 40px;
	
}

.checkOutPage img {
	width: 50px;
	float: left;
	
}

.cart{
	margin: 100px 0;
	background-color: #F6F5FA;;
	padding: 60px 0;
}
.total-price{
	padding-bottom: 15px;
}
.cart-item{
	background-color: #fff;
	border-radius: 10px;
	padding: 15px 20px;
	margin-bottom: 20px;
}
.center-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cart-item img{
	width: 115px;
}
.cart-item h5{
    padding: 0 20px;
}
.cart-item .remove-item{
	width: 25px!important;
}
.btn-default{
	background-color: #fff;
}
.cart-item .form-control{
	background-color: #F6F5FA;
	border: none;
    width: 65px;
    border-radius: 10px!important;
    font-weight: 700;
    font-size: 20px;
}
.input-group{
	width: unset;
}
.status{
	text-align: right;
}
.check-out{
    float: right;
    padding: 10px 30px;
	font-size: 19px;
	background-color: #2FBE70;
	border: none;
}

@media (max-width: 400px) { 
	.sub {
		width: 20%;
	}
	.sub-price{
		width: 80%;
	}
	h5 {
		font-size: 15px;
		padding: 0;
	}
}


@media (max-width: 575.98px) { 
	.sub {
		width: 30%;
		
	}
	.sub-price{
		width: 70%;
	}
	h5 {
		font-size: small;
	}
 }

/* // Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width */

/* @media (min-width: 576px) { 
	.sub {
		width: 30%;
	}
	.sub-price{
		width: 70%;
	}
} */


/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */